/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* End of Reset Stylesheet*/

body {
	font-family: 'merriweather', sans-serif;
	-webkit-font-smoothing: antialiased;

}

h3 {
	font-family: 'robato', sans-serif;
	font-size: 1.5em;
	font-weight: 150;
	text-align: center;
}

/* Header Section*/

.masthead {
	height: 3em;
	background-color: #000;
}

.masthead h3 {
	font-family: lato;
	font-size: 1em;
	float: left;
	color: #fff;
	padding: 14px 0 8px 14px;
}

/* Main Title Section*/

.title {
		margin: 4em 13em auto;
		}

.title .content {
	-webkit-animation: fadein 3s;
	}

.title h1 {
	font-family: 'lato';
	font-size: 5.5em;
	font-weight: 100;
	margin: 0 0;
	padding-top: 0.8em;	
	}
.title h2 {
	font-family: 'robato';
	font-size: 3em;
	font-weight: 100;
	margin: 13px 0;
	-webkit-animation: fadein 4s;
	}
.title img{
	float: left;
	border-radius: 15px;
	margin: 0 2em;
	}
.title .social li {
	width: 1em;
	height: 1em;
	color: blue;	
	display: inline-block;
	margin: 0 1em 3em 0;
	padding: 10px;
	border-radius: 50%;
	border: solid 1px;
}

/*About Me Section*/

.about hr {
	border: 0;
	border-top: 1px solid;
	margin: 2.6em 5em;
}

.about .content {
	margin: 2em 12em;
}
.about h4 {
	font-family: 'robato';
	font-size: 1.4em;
	text-align: center;
	margin-top: 1em;
}


/*Projects section*/

.projects hr { 
	border: 0;
	border-top: 1px solid;
	margin: 2.6em 5em;	
}
.projects .content {
	margin: 2em 5em;
	padding: 1em 3em;
}

.projects .images {
	max-width: 680px;
	margin: 2em auto;
}

.projects .images li {
	display: inline-block;
	margin-right: 2.35em;
}
.projects .images img {
	border-radius: 20px;
}

.projects .images figcaption {
	text-align: center;
	margin-top: 10px;
}

/*Animation Test*/
h6 {
	-webkit-animation: fadein 2s;
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/*Animation Test